<%- include('partials/header') -%>

<div class="">
    <!-- action="/article"    path where it going to submit form   and method="POST"   method it use is POST-->
    <form action="/article" method="POST" class="">
        <h2 class="">Add Article</h2>
        <input type="text" name="title" class="" placeholder="Add Title"> 
        <textarea class=""  name="description" rows="4" placeholder="Add Description .."></textarea>
        <div class="">
            <button class="" type="submit">Add Book</button>
        </div>
    </form>
</div>

<%- include('partials/footer') -%>
